@charset "UTF-8";
/* CSS Document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace, sans-serif;
    background-color: #fdf7fa;
    line-height: 40px;
}

/*	Text Styles */

h1 {
    font-family: monospace, sans-serif;
    font-size: 48px;
    color: #FF4BAD;
}

h2 {
    font-size: 30px;
}

.project-link,
h3 {
    font-size: 25px;
}

input,
.reg-text,
p {
    font-family: monospace, sans-serif;
    font-size: 18px;
}

li {
    font-family: monospace, sans-serif;
    font-size: 18px;
}

form input {
    line-height: 2.5em;
}

/*	Banner*/

#banner {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 48px;
    color: #FF4BAD;
    position: static;
    display: flex;
    z-index: 3;
}

.color-bars {
    width: 100%;
}

/*	Navigation*/

nav {
    height: 100px;
}

nav ul {
    margin-left: 10px;
    margin-right: 10px;
}

.crumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.crumbs a {
    font-family: monospace, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.crumbs ul {
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
    font-size: 30px;
    background-color: transparent;
    position: absolute;
}

.crumb {
    display: inline-block;
    flex-wrap: wrap;
    background-color: transparent;
}

.crumb a::after { /*Adds symbol between nav items*/
    display: inline-block;
    color: #FA862D;
    content: '*';
    font-size: 16px;
    padding-left: 18px;
}

.crumbs li:last-child a::after { /*Removes last dash in nav bar*/
    content: none;
}

/*	Links	*/

.crumb a:link {
    color: #FA862D;
    text-decoration: none;

}

.crumb a:hover {
    color: #FA862D;
    text-decoration: underline;
}

.link-style:active,
.crumb a:active {
    color: #FA862D;
}

.link-style:visited,
.crumb a:visited {
    text-decoration: none;
    color: #FA862D;
}

#crumb-current { /*Displays current page as underlined navigation*/
}

main .project-link:hover {
    text-decoration: underline;
}

.project-link:visited {
    color: inherit;
}

.project-link:link {
    text-decoration: none;
    color: #39071fca;
}

/*	Main*/

#img-container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.decorative-banner {
    max-width: 300px;
    min-width: 50px;
}

main .ben-portrait {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    /*height: fit-content;*/
}


.mini-bars-left {
    position: sticky;
    bottom: 50px;
    left: 0;
    float: left;
}

main,
article {
    margin-left: 60px;
    margin-right: 60px;
    padding: 2% 15% 2% 5%;
    background-color: rgba(164, 164, 164, 0.10);
    color: #39071fca;
    background-image: url("../img/noise-article.png");
    background-size: contain;
    background-repeat: repeat;
    border-radius: 15px;
}

article {
    background-size: contain;
    background-repeat: repeat-y;
}

article h2 {
    color: #FA862D;
}

li,
main h1,
main h2,
main h3,
main p,
article h1,
article h2,
article h3,
article p,
article li,
article ul,
article ol,
main span,
article span {
    letter-spacing: 2px;
}

main span,
article span {
    font-weight: bold;
}

.indent {
    padding-left: 90px;
}

.indent-dbl {
    padding-left: 120px;
}

.eduList li::marker {
    color: #FA862D;
}

/*	dropdowns	*/

#projects-dropdown {
    display: none;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 245, 250, 1);
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    top: 80px;
    right: 100px;
    height: 60px;
    line-height: 16px;
}

#projects-dropdown table td {
    justify-content: center;
    align-content: center;
}

#projects-dropdown table td a {
    color: #39071fca;
    text-decoration: none;
}

#projects-dropdown table tr {
    height: 50px;
}
.side-dropdown { /* div */
    font-family: monospace, sans-serif;
    margin-top: 10px;
    position: sticky;
    display: flex;
    top: 40px;
    width: 23%;
    max-width: 200px;
    height: 60px;
    float: right;
    background-color: transparent;
    border-radius: 10px;
    color: #FA862D;
    align-items: center;
    justify-content: space-around;
}

.dropbtn { /* button */
    justify-content: left;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 245, 250, 1);
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.dropdown-container {
    background-color: rgba(255, 245, 250, 1);
    border-radius: 0 0 10px 10px;
    list-style-type: none;
    width: 100%;
    margin-top: 0;
    padding: 0 0 15px 15px;
    display: none;
    position: absolute;
    top: 60px;
    z-index: 1;
}

.dropdown-items {
    text-decoration: none;
    color: #FA862D;
}

.dropdown p {
    padding-right: 5px;
}

.show {
    display: block;
}

/*  Inquiry area  */

#inquiry-container {
    /*background-color: rgba(171, 171, 171, 0.42);*/
    width: 100%;
}

.inquiry {
    width: 100%;
}

.inquiry input {
    max-height: 50px;
}

.inquiry input,
.inquiry textarea {
    border: none;
    background-color: rgba(125, 125, 125, 0.17);
    border-radius: 5px;
    padding-left: 5px;
}

.inquiry textarea {
    min-width: 220px;
    max-width: 500px;
    max-height: 200px;
    min-height: 100px;
    overflow: visible;
    padding-top: 5px;
    font-size: 16px;
}

.inquiry input:focus,
.inquiry textarea:focus {
    outline: none;
}

.inquiry #submit {
    box-shadow: 2px 2px rgba(95, 95, 95, 0.59);
    color: white;
    width: 80px;
}

.inquiry #submit:hover {
    cursor: pointer;
}

.inquiry #submit:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px rgba(95, 95, 95, 0.59);
}

/*	Footer	*/

/*	BLOG	*/

.featured {
    display: flex;
    flex-wrap: wrap;
}

.preview-img {
    height: 250px;
    padding-right: 60px;
}

.preview-info h2 {
    color: #39071fca;
}

.italic {
    font-style: italic;
}