// COLORS
$color-primary: #FF4500;
$color-primary-dk: #9d3200;

$color-secondary-xlt: #00fff6;
$color-secondary-lt: #0aa29d;
$color-secondary: #087c78;

$color-black: #141414;
$color-white: #eeeeee;

$color-highlight: rgba(255, 249, 103, 0.5);
$color-highlight-alt: rgba(118, 255, 103, 0.5);

$color-grey: rgba(128, 128, 128);
$color-grey-a-lt: rgba(161, 161, 161, 0.2);
$color-grey-a: rgba(128, 128, 128, 0.2);
$color-grey-a-dk: rgba(98, 98, 98, 0.2);
$color-grey-a-xdk: rgba(0, 0, 0, 0.5);

//SHADOW
$shadow-1: 0 2rem 5rem rgba(0, 0, 0, .2);

