.about__container {
  background-color: $color-black;
  padding: 10rem 8rem;
  display: flex;
  justify-content: center;

  @include respond(tab-port) {
    padding: 5rem 3rem;
  }

  @include respond(phone) {
    padding: 3rem 0;
  }
}

//ABOUT*****************************************************************************
.about {
  border-left: 1px solid $color-primary;
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
}

.cta {
  display: flex;
}

