.about__container {
  background-color: $color-black;
  padding: 10rem 8rem;
  display: flex;
  justify-content: center;
  //min-height: 100vh;
}

//ABOUT*****************************************************************************
.about {
  border-left: 1px solid $color-primary;
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
}

.cta {
  display: flex;
}

