.u-pos-relative {
  position: relative;
}

.u-center-text {text-align: center !important; }

.u-margin-top-lg {margin-top: 8rem !important; }
.u-margin-top-xl {margin-top: 10rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.u-margin-bottom-md {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom:  3rem !important;
  }
}
.u-margin-bottom-sm {margin-bottom: 1.5rem !important; }

.u-padding {
  padding: 3rem;
}

%u-padding-sm {
  padding: 1rem;
}

.u-padding-x-sm {padding: 0 3rem !important; }

.u-list-item {
  list-style: none;
  transition: all .2s;
  padding: 1.5rem .75rem;

  &:not(:last-of-type) {
    @extend %u-border-bottom;
  }
}

.u-list-item-animation:hover {
  transform: translateY(.05rem) scale(1.02);
  background-image: linear-gradient(to right, $color-grey-a-dk, $color-grey-a-lt);
  border-radius: 5px;
  border-bottom: 2px solid $color-primary !important;

  @include respond(phone) {
    transform: translateY(0) scale(1);
    background-image: none;
    border-radius: 0;
  }

  @include respond(tab-port) {
    border-bottom: none !important;
  }
}

.u-list-item-animation:active {
  filter: brightness(1.3);
  border-bottom: none;

  @include respond(phone) {
    transform: translateY(.05rem) scale(1.02);
    background-image: linear-gradient(to right, $color-grey-a-dk, $color-grey-a-lt);
    border-radius: 5px;
    border-bottom: none;
  }
}

.u-underline {
  transition: all .3s;

  @include respond(tab-port) {
    border-bottom: 2px solid $color-primary;
  }

}

%u-border-bottom {
  border-bottom: 1px solid $color-grey-a-dk;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, .4);
  filter: blur(3rem);
}