.btn {
  margin: 0 auto;
  margin-top: 3rem;
  background-image: linear-gradient(to right, $color-primary, $color-primary-dk);
  border-radius: 100px;
  border: none;
  color: $color-white;
  font-family: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  transform: translateY(0) scale(1);
  transition: transform .5s ease;

  &__arrow {
    transform: translateX(0);
    transition: all .3s ease;
  }

  &:hover {
    transform: translateY(-.3rem) scale(1.05);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .3);
  }

  &:hover &__arrow {
    margin-left: 1rem;
    transform: translateX(2rem);
  }

  &:active {
    transform: translateY(0) scale(1.02);
    //box-shadow: 0 1rem 3rem rgba(0, 0, 0, .3);
  }

  //BACK BUTTON
  &__back {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: inline-block;
    border-radius: 0;
    transform: scale(.75);
    clip-path: polygon(0 50%, 20% 0, 20% 20%, 100% 20%, 100% 80%, 20% 80%, 20% 100%, 0 50%);

    &--arrow {
      display: none;
      transition: all .2s ease;
    }

    &:hover {
      border-radius: 50px;
      clip-path: none;
    }

    &:hover &--arrow {
      display: inline-block;
      transform: scale(1);
      margin-right: 1rem;
    }
    &:hover &--text {
      display: inline-block;
    }

    &--text {
      display: none;
    }
  }
}
