.info {
  padding: 5rem 10rem;
  background-color: $color-grey-a-dk;
  border-right: 1px solid $color-primary;
  margin-top: -1px;

  & * {
    font-size: inherit;
  }

  @include respond(tab-port) {
    padding: 3rem 5rem;
  }

  @include respond(phone) {
    padding: 3rem 0;
    border-right: none;

  }

  &__box {
    padding: 0 2rem;
    border-left: 1px solid $color-primary;

    &:not(:first-child) {
      display: none;
    }

    @include respond(phone) {
      border: none;
    }
  }

  &__bio {

    &--soft-skills {
      display: flex;
      flex-wrap: wrap;
    }

    &--skill {
      flex: 0 0 50%;
      list-style: none;

      @include respond(phone) {
        flex: 0 0 100%;
        padding-left: 1rem;
        border-radius: 3px;

        &:nth-of-type(odd) {
          background-color: $color-grey-a-dk;
          //text-align: right;
        }
      }
    }
  }

  &__exp--text {
    text-indent: 2rem;
  }
}
