.projects {
  display: none;
  padding: 5rem 10rem;
  background-color: $color-grey-a-dk;
  border-right: 1px solid $color-primary;
  margin-top: -1px;
  position: relative;

  @include respond(tab-port) {
    padding: 5rem 3rem;
  }

  @include respond(phone) {
    padding: 3rem 2rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__project {

    &:not(:last-of-type) {
      margin-bottom: 2rem;
      border-bottom: 1px solid $color-grey-a-dk;
    }
  }
}

.natours,
.trillo {
  transition: all .2s ease;

  &__tags {
    margin-top: -1rem;

    &--tag {
      font-size: 1.2rem;
      font-weight: 300;
      color: $color-grey;

      &:hover {
        color: $color-secondary-xlt;
      }
    }
  }

  &__link {

    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__photo {
    position: relative;
    height: 25rem;
    width: 100%;

    &--img {
      position: relative;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: center;

      border: 2px solid $color-white;
      border-radius: 3px;
      width: 40%;
      top: 50%;
      left: 50%;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
        z-index: 10;
        box-shadow: $shadow-1;
      }
    }

    &--img:last-of-type {
      position: absolute;
      width: 8%;
      top: 60%;
      left: 60%;
    }

    &--view {
      background-color: $color-grey-lt;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: end;
      opacity: 0;
      height: 6rem;
      width: 25rem;
      top: 50%;
      left: 50%;
      padding-right: 2rem;
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 15% 60%, 0 50%, 15% 40%);
      animation: floatUpDown 2s infinite;
      backface-visibility: hidden;

      transform: translate(20rem, -50%) scale(1);
      transition: all .2s ease;
    }

    &:hover &--view { // brings in dialog box -- view projects link
      opacity: 1;
    }

    &--link:link,
    &--link:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-black;
      font-size: inherit;
      font-weight: 300;
    }
  }
}



//
//.natours {
//
//  &__link {
//
//  }
//}
//
//.trillo {
//
//  &__link {
//
//  }
//}