@keyframes leftRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(1rem);
  }
}

@keyframes floatUpDown {
  0% {
    transform: translate(20rem, -50%) scale(1);
    background-color: lighten($color-grey-lt, 0);
  }

  50% {
    transform: translate(20rem, -75%) scale(1);
    background-color: lighten($color-grey-lt, 15%);
  }

  100% {
    transform: translate(20rem, -50%) scale(1);
    background-color: lighten($color-grey-lt, 0);
  }
}