.heading-primary {
  font-family: "BD Geminis", Serif;
  font-size: 9rem;
  color: $color-white;
  line-height: 8rem;
}
.heading-secondary {
  font-family: "BD Geminis", Serif;
  font-size: 4.5rem;
  line-height: 6rem;
}
.heading-tertiary {
  font-family: "BD Geminis", Serif;
  font-size: 3.5rem;
  line-height: 4rem;
}