.exp {

    &__list {

        &--item {
            position: relative;
        }

        &--caret {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }

    &__dropdown {
        background-color: $color-grey-a-lt;
        width: auto;
        max-height: 50rem;
        border-top: 1px solid $color-grey-a-dk;
        overflow: auto;
        scrollbar-width: none; 
        -ms-overflow-style: none;
        transition: all 1s;
        animation: fadeInBottom .3s;

        &::-webkit-scrollbar {
            display: none;
          }

        &--open {
            background-color: $color-grey-a-dk;
        }
        
    }

    

    &__img {

        &-container {
            display: grid;
            gap: 1rem;
            padding: 2rem;
            @extend %u-border-bottom;

            grid-template-columns: 30% 70%;
            
            @include respond(tab-land) {
                grid-template-columns: 1fr;

            }


            &--img {
                border-radius: .5rem;
                border: 1px solid $color-primary;
                width: 85%;

                @include respond(phone) {
                    width: 75%;
                }
            }
        }

    }

}
