.projects {
  display: none;
  padding: 5rem 10rem;
  background-color: $color-grey-a-dk;
  border-right: 1px solid $color-primary;
  margin-top: -1px;
  position: relative;

  @include respond(tab-port) {
    padding: 5rem 3rem;
  }

  @include respond(phone) {
    padding: 3rem 2rem;
    border-right: none;

  }

  &__title {
    //font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__project {

    &:not(:last-of-type) {
      margin-bottom: 2rem;
      border-bottom: 1px solid $color-grey-a-dk;
    }
  }
}

.ctv { // click to view
  display: none;
  transform: translateX(10rem);
  transition: all .2s ease;

  @include respond(phone) {
    margin-left: 1rem;
    transform: translateX(0);
    @include subtext;

    animation: fadeInRight .3s ease;
  }
}

.nexter,
.natours,
.trillo {
  transition: all .2s ease;

  &__text {

    &--link:link,
    &--link:visited {
      text-decoration: none;
      color: inherit;

      @include respond(phone) {
        color: $color-secondary-xlt;
      }
    }

    &--link:hover,
    &--link:active {
      color: $color-secondary-xlt;
    }
  }

  &__tags {
    margin-top: -1rem;

    &--tag {
      @include subtext;

      &:not(:last-of-type)::after {
        content: " \22C5";
      }

      &:hover {
        color: $color-secondary-xlt;
      }
    }

    @include respond(phone) {
      margin-bottom: 1rem;
    }
  }

  &__link {

    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;

      @include respond(tab-port) {
        text-decoration: underline;
        color: $color-secondary-xlt;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__photo {
    position: relative;
    height: 25rem;
    width: 100%;

    @include respond(phone) {
      display: none;
    }

    &--img {
      position: relative;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: center;

      border: 2px solid $color-white;
      border-radius: 3px;
      width: 40%;
      top: 50%;
      left: 50%;
      transition: all .2s ease;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
        z-index: 10;
        box-shadow: $shadow-1;
      }
    }

    &--img:last-of-type {
      position: absolute;
      width: 8%;
      top: 60%;
      left: 60%;
    }

    &--view {
      background-color: $color-grey-lt;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: end;
      opacity: 0;
      height: 6rem;
      width: 30%;
      min-width: 20rem;
      top: 50%;
      left: 50%;
      padding-right: 2rem;
      padding-left: 3rem;
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 15% 60%, 0 50%, 15% 40%);
      animation: floatUpDown 2s infinite;
      backface-visibility: hidden;

      transform: translate(18rem, -50%) scale(1);
      transition: all .2s ease;

      @include respond(tab-land) {
        padding-left: 4.5rem;
      }

      @include respond(tab-port) {
        display: none;
      }
    }

    &:hover &--view { // brings in dialog box -- view projects link
      opacity: 1;
    }

    &--link:link,
    &--link:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-black;
      font-size: inherit;
      font-weight: 300;
      transform: scale(1);
      transition: all .2s ease;
    }

    &--link:hover,
    &--link:active {
      transform: scale(1.04);
    }

  }
}