/*
  Breakpoints:
  - Up to 600px width     Phone
  - Up to 900px width     Tablet portrait
  - Up to 1200px width    Tablet landscape
  - Up to 1800px width    avg desktop

$break arg choices:
 - phone
 - tab-port
 - tab-land
 - big-desktop
 */
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: monospace, sans-serif;
  line-height: 2.5rem;
  height: 100vh;
}

.heading-primary {
  font-family: "BD Geminis", Serif;
  font-size: 9rem;
  color: #eeeeee;
  line-height: 8rem;
}

.heading-secondary {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  line-height: 6rem;
}

.heading-tertiary {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5rem;
  line-height: 4rem;
}

body {
  font-family: "Sono", monospace;
  color: #eeeeee;
  font-size: 1.8rem;
  line-height: 4rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-lg {
  margin-top: 8rem !important;
}

.u-margin-top-xl {
  margin-top: 10rem !important;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-lg {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-md {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-padding {
  padding: 3rem;
}

.u-padding-x-sm {
  padding: 0 3rem !important;
}

.pill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #141414;
  border-radius: 100rem;
  height: 100%;
  min-height: 25rem;
  max-height: 30rem;
  flex-direction: column;
  width: 95%;
  max-width: 92rem;
  z-index: 10;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease;
  backface-visibility: hidden;
}
.pill:hover {
  transform: translate(-50%, -15rem) scale(1.05);
}
.pill:hover + .bar {
  opacity: 0;
}
.pill:hover + .bar > .bar__1 {
  transform: translateX(20rem);
}
.pill:hover + .bar > .bar__3 {
  transform: translateX(-20rem);
}
@media only screen and (max-width: 112.5em) {
  .pill {
    min-height: 20rem;
  }
}
@media only screen and (max-width: 75em) {
  .pill {
    width: 80%;
  }
  .pill:hover {
    transform: translate(-50%, -15rem) scale(1.1);
  }
  .pill:hover + .bar {
    opacity: 0;
  }
  .pill:hover + .bar > .bar__1 {
    transform: translateX(20rem);
  }
  .pill:hover + .bar > .bar__3 {
    transform: translateX(-20rem);
  }
}
@media only screen and (max-width: 56.25em) {
  .pill {
    width: 80%;
  }
  .pill:hover {
    transform: translate(-50%, -15rem) scale(1.1);
  }
  .pill:hover + .bar {
    opacity: 0;
  }
  .pill:hover + .bar > .bar__1 {
    transform: translateX(20rem);
  }
  .pill:hover + .bar > .bar__3 {
    transform: translateX(-20rem);
  }
}
.pill__title {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
}
.pill__list {
  position: relative;
  height: 50%;
  width: 100%;
}
.pill__list--ul {
  position: absolute;
  top: 20%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
}
.pill__list--item {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  font-size: 2.2rem;
  border-radius: 50rem;
  transition: all 0.3s ease;
  backface-visibility: hidden;
}
.pill__list--item:hover {
  background-color: #FF4500;
  transform: translateY(-0.2rem) scale(1.01);
}
.pill__list--item:active {
  transform: translateY(0) scale(1.01);
}
.pill__list--item:not(:last-child) {
  margin-right: 7rem;
}
.pill__list--item a:link, .pill__list--item a:visited {
  text-decoration: none;
  color: #eeeeee;
}
.pill__bar {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0aa29d;
  height: 1rem;
  width: 60%;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%, 0 0);
  box-shadow: 0 0 0 0 rgba(0, 255, 246, 0.3);
  transition: all 0.8s cubic-bezier(0, 0, 0.35, 1.53);
  backface-visibility: hidden;
}
.pill:hover .pill__bar {
  background-color: #00fff6;
  box-shadow: 0 0 1.5rem 1rem rgba(0, 255, 246, 0.3);
  transform: translate(-50%, -3rem);
}
@media only screen and (max-width: 75em) {
  .pill:hover .pill__bar {
    transform: translate(-50%, -4rem);
  }
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  transition: all 1s ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 75em) {
  .bar {
    height: 40%;
  }
}
@media only screen and (max-width: 56.25em) {
  .bar {
    height: 35%;
  }
}
.bar__1 {
  width: 30%;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.2), rgba(98, 98, 98, 0.2));
  clip-path: polygon(60% 0, 100% 0, 40% 100%, 0 100%);
  transition: all 1s ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 112.5em) {
  .bar__1 {
    width: 35%;
  }
}
@media only screen and (max-width: 75em) {
  .bar__1 {
    width: 40%;
  }
}
@media only screen and (max-width: 56.25em) {
  .bar__1 {
    width: 45%;
  }
}
.bar__2 {
  width: 30%;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.2), rgba(98, 98, 98, 0.2));
  clip-path: polygon(60% 0, 100% 0, 40% 100%, 0 100%);
  transition: all 1s ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 112.5em) {
  .bar__2 {
    width: 35%;
  }
}
@media only screen and (max-width: 75em) {
  .bar__2 {
    width: 40%;
  }
}
@media only screen and (max-width: 56.25em) {
  .bar__2 {
    width: 45%;
  }
}
.bar__3 {
  width: 30%;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.2), rgba(98, 98, 98, 0.2));
  clip-path: polygon(60% 0, 100% 0, 40% 100%, 0 100%);
  transition: all 1s ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 112.5em) {
  .bar__3 {
    width: 35%;
  }
}
@media only screen and (max-width: 75em) {
  .bar__3 {
    width: 40%;
  }
}
@media only screen and (max-width: 56.25em) {
  .bar__3 {
    width: 45%;
  }
}

.header {
  height: 95dvh;
  background-image: linear-gradient(to bottom right, #FF4500, #9d3200);
}

.row {
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 56.25em) {
  .row {
    padding: 0;
  }
}

.about__container {
  background-color: #141414;
  height: 75%;
  padding: 10rem 8rem;
  display: flex;
  justify-content: center;
}

.about {
  border-left: 1px solid #FF4500;
  width: 100%;
  max-width: 100rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  width: 100%;
}
.tabs__header {
  position: relative;
  z-index: 10;
}
.tabs__label:hover {
  border-bottom: 1px solid #FF4500;
}
.tabs__input {
  display: none;
}
.tabs__header-box {
  text-align: center;
  width: 100%;
  position: relative;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
  border-right: 1px solid #FF4500;
}
.tabs__header-box:first-child {
  background-color: rgba(98, 98, 98, 0.2);
}

.info {
  padding: 5rem 10rem;
}
.info__box {
  padding: 3rem;
  background-color: rgba(98, 98, 98, 0.2);
  border-radius: 5px;
}
.info__box:not(:first-child) {
  display: none;
}

/*# sourceMappingURL=style.css.map */
