// COLORS
$color-primary: #FF4500FF;
$color-primary-dk: #d74000;

$color-secondary-lt: #0aa29d;
$color-secondary: #087c78;

$color-black: #141414;
$color-white: #eeeeee;

$color-highlight: rgba(255, 249, 103, 0.5);
$color-highlight-alt: rgba(118, 255, 103, 0.5);